.container {
  height: 100vh;
  width: 80vw;
  margin: auto;
}
.inner {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  gap: 10px;
}
.inner input {
  outline: none;
  padding: 10px;
  border: 2px solid #cdd9ed;
  border-radius: 20px;
  background-color: #fff;
}
.inner input:focus {
  border: 2px solid #275efe;
}
.cta {
  background-color: #678efe;
  color: #fff;
  border: none;
  width: 5rem;
  padding: 5px 0;
  border-radius: 20px;
  border: 2px solid #678efe;
  transition: all 0.15s ease;
}
.cta:hover {
  cursor: pointer;
  color: #275efe;
  background-color: #fff;
  border: 2px solid#678efe;
}
